name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.26'
          cache: true

      - name: Install dependencies
        run: go mod tidy

      - name: Build Plugin
        run: go build -buildmode=plugin -o loglinter.so ./plugin/main.go

      - name: Run Tests
        run: go test -v ./pkg/analyzer/...